body {
    margin: 0;
}
.HoofschermContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}
.logoTitel, .mijnVeilingenBekijken, .klantGegevens{
    display: flex;
    align-items: center;
    gap: 10px;
}
.floraLogo, .mijnVeilingenBekijkenLogo, .klantGegevensLogo {
    width: 50px;
    height: auto;
    display: block;
    border: 1px solid white;
    outline: 1px solid white;
}
h1 {
    font-size: 18px;
    color: green;
    margin: 0;
}
nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
    color: green;
}

nav li {
    cursor: pointer;
}
.kopje{
    display: inline-flex;
}
.titelTekst {
    color: saddlebrown;
    font-size: 20px;
}

.kopje, nav ul{
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
    justify-content: space-between;
}
.productenPerDatum, .nieuweProductToevoegen, .winst{
    background-color: blue;
    color: white;
}
.rij{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 15px;
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
}
.kolomLinks{
    flex: 1;
}
.kolomRechts{
    outline: 1px solid saddlebrown;
    outline-offset: 0;
    width: 60%;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
}
.fotoProduct{
    width: 30%;
    height: auto;
}
.linkerHelft, .rechterHelft{
    display: flex;
    justify-content: space-between;
}
.winst{
    align-self: flex-end;
}
.productNaam, .productCategorie, .hoeveelheid, .plaats{
    outline: 1px solid lightgray;
    outline-offset: 0;
}