.SellerScreenInfo {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    gap: 30px;
}

.SellerScreenInfo h1 {
    font-size: 18px;
    color: green;
    margin: 0;
}

.productScroller {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-height: 80vh;
    overflow-y: auto;
    padding: 10px;
}

.SellerScreenInfo .rij {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    gap: 150px;
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
}
.kolomRechts {
    outline: 1px solid saddlebrown;
    outline-offset: 0;
    width: 60%;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.SellerScreenInfo .fotoProduct {
    width: 160%;
    height: auto;
}

.SellerScreenInfo .linkerHelft, .rechterHelft {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.SellerScreenInfo .productNaam, .productCategorie, .hoeveelheid, .aantalFusten, .plaats, .datum{
    outline: 1px solid lightgray;
    outline-offset: 0;
}


.SellerScreenInfo {
    align-self: flex-start;
}

.productToevoegenKnop_container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding-right: 30px;
}

.productToevoegenKnop {
    display: inline-flex;
    color: var(--inverse-text);
    background-color: var(--accent-light);
    margin: 10px 0 0 0 ;
    padding: 5px 50px;
    border-radius: 5px;
}
 .productToevoegenKnop:hover {
    background-color: var(--accent-muted);
    color: var(--ink-light);
    border-radius: 5px;
 }

