.RenderCard {
    height: 500px;
    max-height: 550px;

    width: 100%;
    max-width: 500px;

    box-sizing: border-box;

    background-color: var(--brand-gradient);
    border: 1px solid var(--brand-light);
    scroll-snap-align: start;
    text-align: center;

    padding: 20px;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.RenderCard img {
    width: 100%;
    max-width: 180px;
    height: 180px;

    align-self: center;

    object-fit: contain;
    flex-shrink: 0;
}

.RenderCard .ImageErrorMsg {
    margin: 0;
}

.RenderCard h3 {
    font-size: 17px;

    margin: 5px 0 0 0;
}

.RenderCard p {
    font-size: clamp(0.2rem, 15px, 1rem);

    color: var(--ink-light);

    text-align: center;
    text-wrap: balance;
    white-space: pre-line;

    overflow-wrap: break-word;
}