.ordenen {
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: 1px solid lightgray;

}

.titel {
    display: flex;

    width: 100%;

    text-align: center;

    justify-self: flex-start;
}

.Prijs {
    font-size: 1.2rem;
    color: var(--ink);
}

.tussenkop {
    width: 100%;

    text-align: center;

    justify-self: center;

    margin-right: 10px;
    margin-left: 10px;
}

.rightSideText {
    width: 100%;

    margin: 0 0 0 20px;

    left: 100%;

    text-align: end;
}