.Button{
    max-width: 50%;

    height: auto;

    align-items: center;
    justify-content: center;

    background-color: var(--accent-light);
    color: var(--inverse-text);

    border: none;
    border-radius: 5px;

    cursor: pointer;

    font-size: clamp(0.9rem, 70%, 0.8rem);

    margin: 2%;
    padding: 8px 16px;

    flex: 1;
}

.Button:hover {
    background-color: var(--accent-muted);

    color: var(--ink-light);
}