.MainScreen * {
    scrollbar-width: thin;
    scrollbar-color: var(--brand) rgba(255, 255, 255, 0);
}

.MainScreen {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: var(--bg);
    color: var(--ink);
}

.MainScreen main {
    margin: 0 0 50px 0;
}

.MainScreen .banner {
    display: inline-block;
    background-color: var(--brand-light);
    color: var(--inverse-text);

    min-height: 25vh;
    height: auto;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 0 0 1% 1%;
}

.MainScreen .banner-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

/* Banner heading style */
.MainScreen .banner h1 {
    font-size: 25px;
    margin: 0;
}

.MainScreen .banner .registratie-knoppen {
    display: inline-flex;
    justify-content: center;
    gap: 40px;
    margin-top: 10px;
}

.MainScreen .registratie-knoppen button {
    background-color: transparent;
    color: var(--inverse-text);
    border-style: unset;
    text-decoration: none;
    font-weight: 500;
}

.MainScreen .registratie-knoppen button:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* SECTION TITLES */
.MainScreen section {
    display: block;
    padding: 30px 40px;

    height: 500px;
}

.MainScreen section h2 {
    font-size: 20px;
    margin-bottom: 15px;
}

/* SLIDER */
.MainScreen .slider-container {
    position: relative;
    display: flex;
    align-items: center;
    margin: 0 2% 0 2%;

    width: 95%;
    height: 100%;
}

.MainScreen .slider {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    gap: 20px;
    padding: 10px 0;

    min-height: 95%;
    height: auto;
}

.MainScreen .slider::-webkit-scrollbar {
    display: none;
}

.MainScreen .card {
    width: 25%;

    flex: 0 0 250px;

    background-color: var(--brand-gradient);
    border: 1px solid var(--brand-light);
    scroll-snap-align: start;
    text-align: center;
    padding: 10px;
}

.MainScreen .card img {
    display: inline-block;

    min-width: 40%;
    width: auto;
    max-width: 65%;

    min-height: 40%;
    height: auto;
    max-height: 45%;

    object-fit: contain;

    align-self: center;
}

.MainScreen .card .ImageErrorMsg {
    margin: 0;
}

.MainScreen .card h3 {
    font-size: 20px;
    margin: 1px
}

.MainScreen .card p {
    font-size: clamp(0.5rem, 0.9rem, 1rem);
    color: var(--ink-light);

    overflow-wrap: none;
    text-wrap: balance;

    white-space: pre-line;
}

.MainScreen .text-container {
    display: inline-block;

    min-height: 10%;
    height: 55%;
    max-height: 50%;

    overflow-y: hidden;
}

.MainScreen .arrow {
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: var(--ink);
}

.MainScreen .slider {
    width: 100%;

    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    gap: 20px;
    padding: 10px 0;
}

.MainScreen .slider::-webkit-scrollbar {
    display: none;
}

.MainScreen .slider-container button {
    margin: 10px;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
}

.MainScreen .auctionButton {
    background-color: var(--accent-light);
    color: var(--inverse-text);

    border-radius: 50px;
}

.MainScreen .auctionButton:hover {
    background-color: var(--accent-muted);

    color: var(--ink-light);
}

.MainScreen .ImageErrorMsg {
    position: absolute;

    left: 25%;
    right: 25%;
    top: 2%;

    z-index: 1;
}