.SellerScreenAdd .BODY {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}
.SellerScreenAdd h1 {
    font-size: 18px;
    color: green;
    margin: 0;
}
[type="file"] {
    display: none; 
}

.SellerScreenAdd h2 {
    font-size: 20px;
    color: saddlebrown;
}

.SellerScreenAdd h3 {
    display: inline-block;
    background-color: saddlebrown;
    font-size: 12px;
    color: white;
}

.SellerScreenAdd h2,
.SellerScreenAdd h3
{
    display: inline-block;
}

.SellerScreenAdd .Container {
    display: flex;
    gap: 35px;
    align-items: stretch;
    max-width: 90%;
    margin: 20px auto 0 auto;
    padding-left: 10px;
    padding-right: 10px;
}

.SellerScreenAdd .Container section {
    flex: 1;
    box-sizing: border-box;
}

.SellerScreenAdd .scherm2Container,
.SellerScreenAdd .scherm3Container {
    outline: 1px solid saddlebrown;
    outline-offset: 10px;
    padding: 10px;
    margin-top: 15px;
}

.SellerScreenAdd .fotoContainer {
    max-width: 250px;
    margin: 10px;
}
.SellerScreenAdd .schermDeel1, .schermDeel2 {
    gap: 30px;
}
.SellerScreenAdd .grote-foto {
    width: 100%;
    border: 1px solid saddlebrown;
}

.SellerScreenAdd .ordenen {
    display: flex;
    justify-content: flex-start;
    border: 1px solid lightgray;
    margin-bottom: 5px;
}

.SellerScreenAdd label,
.SellerScreenAdd input {
    display: block;
}

.SellerScreenAdd input {
    border: none;
}

.SellerScreenAdd .kopje {
    font-size: 12px;
    color: saddlebrown;
}

.SellerScreenAdd .name,
.SellerScreenAdd .category,
.SellerScreenAdd .amount,
.SellerScreenAdd .place,
.SellerScreenAdd .minimumPrice {
    font-size: 8px;
    color: black;
}

.SellerScreenAdd .scherm3Container input {
    border: 1px solid lightgray;
}

.SellerScreenAdd .scherm3Ordenen {
    display: block;
}

.SellerScreenAdd .placeProduct {
    color: var(--inverse-text);
    background-color: var(--accent-light);
    display: block;
    margin: 10px auto 0 auto;
    padding: 5px 50px;
    border-radius: 5px;
}
 .placeProduct:hover {
    background-color: var(--accent-muted);
    color: var(--ink-light);
    border-radius: 5px;
 }
.SellerScreenAdd section{
    padding: 10px 0;
}
