.BODY {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.Mainschermen {
    flex: 1;
}

/*.HoofschermContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}*/

.logoTitel, .mijnVeilingenBekijken, .klantGegevens {
    display: flex;
    align-items: center;
    gap: 10px;
}

.floraLogo, .mijnVeilingenBekijkenLogo, .klantGegevensLogo {
    width: 50px;
    height: auto;
    display: block;
    border: 1px solid white;
    outline: 1px solid white;
}

h1 {
    font-size: 18px;
    color: green;
    margin: 0;
}

/*nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
    color: green;
}*/

/*nav li {
    cursor: pointer;
}*/

h2 {
    font-size: 20px;
    color: saddlebrown;
}

h3 {
    display: inline-block;
    background-color: saddlebrown;
    font-size: 12px;
    color: white;
}

h2, h3 {
    display: inline-block;
}

.Container {
    display: flex;
    gap: 35px;
    align-items: stretch;
    max-width: 1200px;
    margin: 20px auto 0 auto;
    padding-left: 10px;
    padding-right: 10px;
}

.Container section {
    flex: 1;
    box-sizing: border-box;
}

.scherm2Container, .scherm3Container {
    outline: 1px solid saddlebrown;
    outline-offset: 15px;
    padding: 10px;
    margin-top: 15px;
}

.fotoContainer {
    max-width: 250px;
    margin: 0 auto;
}

.grote-foto {
    width: 100%;
    border: 1px solid saddlebrown;
}

.kleine-fotos {
    display: flex;
    justify-content: flex-start;
    gap: 15px;
}

.kleine-foto {
    width: calc((100% / 3) - 11px);
    height: auto;
    display: block;
    border: 1px solid saddlebrown;
}

.ordenen {
    display: flex;
    justify-content: flex-start;
    border: 1px solid lightgray;
    margin-bottom: 5px;
}

label, input {
    display: block;
}

input {
    border: none;
}

.kopje {
    font-size: 12px;
    color: saddlebrown;
}

.name, .category, .amount, .place, .minimumPrice {
    font-size: 8px;
    color: black;
}

.scherm3Container input {
    border: 1px solid lightgray;
}

.scherm3Ordenen {
    display: block;
}

.placeProduct {
    color: white;
    background-color: blue;
    display: block;
    margin: 10px auto 0 auto;
    padding: 5px 50px;
}

section{
    padding: 10px 0;
}

